.main {
    @media screen and (min-width: 360px) {
        background: url("../../images/mobile-background.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
      }
      @media screen and (min-width: 768px) {
        background: url("../../images/tablet-background.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
      }
      @media screen and (min-width: 1200px) {
        background: url("../../images/main-bacground.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
      }
  
}