.container {
    display: flex;
    
      // padding: 0 180px;
      @media screen and (min-width: 360px) {
        width: 100%;
        justify-content: center;
      }
      @media screen and (min-width: 768px) {
        width: 90%;
        justify-content: center;
        margin: 0 auto;
      }
      @media screen and (min-width: 1200px) {
        width: 90%;
        justify-content: center;
        margin: 0 auto;
      }
  }