.logo-wrapper {
	position: relative;
	margin-top: 20px;

	
  @media screen and (min-width: 360px) {
    width: 360px;
    height: 80px;
  }
  @media screen and (min-width: 768px) {
    width: 600px;
	height: 80px;
  }
  @media screen and (min-width: 1200px) {
    width: 800px;
	height: 154px;
  }
}
.logo {

	@media screen and (min-width: 360px) {
    width: 360px;
  }
  @media screen and (min-width: 768px) {
    width: 600px;
  }
  @media screen and (min-width: 1200px) {
    width: 800px;
  }
}
	