.sc-container {
    width: 60%;
    align-self: flex-end;
}

iframe {
    @media screen and (min-width: 360px) {
        display: none;
      }
      @media screen and (min-width: 768px) {
        display: none;
      }
      @media screen and (min-width: 1200px) {
        display: block;
      }
}