i {
    color: #ffffff;
    font-size: 70px;
    transition: .5s;
    @media screen and (min-width: 360px) {
        font-size: 40px;
      }
      @media screen and (min-width: 768px) {
        font-size: 40px;
      }
      @media screen and (min-width: 1200px) {
        font-size: 50px;
      }
}

.social-list {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 50px;
    @media screen and (min-width: 360px) {
        width: 90%;
      }
      @media screen and (min-width: 768px) {
        width: 70%;
      }
      @media screen and (min-width: 1200px) {
        width: 60%;
      }
}

i:hover {
    color: #ffffff5f;
}