@media screen and (min-width: 360px) {
  .main {
    background: url("../../images/mobile-background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
}

@media screen and (min-width: 768px) {
  .main {
    background: url("../../images/tablet-background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    background: url("../../images/main-bacground.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
}

.logo-wrapper {
  position: relative;
  margin-top: 20px;
}

@media screen and (min-width: 360px) {
  .logo-wrapper {
    width: 360px;
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .logo-wrapper {
    width: 600px;
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-wrapper {
    width: 800px;
    height: 154px;
  }
}

@media screen and (min-width: 360px) {
  .logo {
    width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    width: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    width: 800px;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 360px) {
  .container {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

i {
  color: #ffffff;
  font-size: 70px;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (min-width: 360px) {
  i {
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) {
  i {
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
  i {
    font-size: 50px;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  margin-bottom: 50px;
}

@media screen and (min-width: 360px) {
  .social-list {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .social-list {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .social-list {
    width: 60%;
  }
}

i:hover {
  color: #ffffff5f;
}

.sc-container {
  width: 60%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (min-width: 360px) {
  iframe {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  iframe {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  iframe {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */