@media screen and (min-width: 480px) {
    .main {
      background: url("../../images/mobile-background.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  
  @media screen and (min-width: 768px) {
    .main {
      background: url("../../images/tablet-background.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .main {
      background: url("../../images/main-bacground.png");
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding-bottom: 74px;
      color: #ffffff;
      height: 100%;
      margin-bottom: 8px;
    }
  }